html {
  font-size: 18px;
}

body {
  font-family: helvetica;
  line-height: 1.4;
}

div {
  display: block;
}

.container {
  width: 960px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
}

a {
  color: white;
}

/* header section */


/* banner section */


/* options section */


/* philosophy and hours section */


/* footer */
