html {
  font-size: 18px;
}

body {
  font-family: helvetica;
  line-height: 1.4;
}

div {
  display: block;
}

/* header section */


/* banner section */


/* options section */


/* philosophy and hours section */


/* footer */
